.dummy-footer {
  width: 100%;
  height: 75px;
  border: 1px solid forestgreen;
  text-align: center;
  background: fuchsia;
  display: flex;
  flex: 1;
  align-content: center;
  justify-items: center;
}
