.dummy-box {
  background: aquamarine;
  color: pink;
  text-align: center;
  width:  50%;
  margin: 0 auto;
  transform: scale(1);
}


.image-style {
  width: 30%;
  height: 30%;
  margin: 0 auto;
}
