{
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    // the last configuration in the array overides the previous one.
    // TODO :  check eslint-config-prettier to add rules for react/ babel ect..
    "extends": ["eslint:recommended", "eslint-config-prettier"],
    // rules overides what is the extends array
    "rules": {
        "strict": ["error", "never"]// we dont want any strict rules in our files, babel is adding it for us
    },
    "env": {
        "browser": true
    },
    "overrides": [
        {
            "files": "**/*.+(ts|tsx)",
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "project": "./tsconfig.json"
            },
            "plugins": ["@typescript-eslint/eslint-plugin"],
            "extends": [
                "plugin:@typescript-eslint/eslint-recommended",
                "plugin:@typescript-eslint/recommended",
                "eslint-config-prettier/@typescript-eslint"
            ]
        }
    ]
}

